@model MoviesRental.ViewModels.NewRentalFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "_Layout";
}
<h2>New Movie</h2>

<form id ="newRental">
    <div class="form-group">
        @Html.LabelFor(m => m.Rental.Customer.Name)
        @Html.DropDownListFor(m => m.Rental.CustomerId, new SelectList(Model.Customers, "Id", "Name"), "Select Customer", new { required = "required", @id ="customer", @name ="customer", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Rental.CustomerId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Rental.Movie.MovieName)
        @Html.ListBoxFor(m => m.MoviesIds, new SelectList(Model.Movies, "Id", "MovieName"), new { required = "required",  @id ="movies", @name ="movies", @class = "form-control", multiple = "true"  })
        
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts
{
    <script>
        $(document).ready(function() {
            $("#newRental").submit(function(e) {
                
                e.preventDefault();
                var customerId = $('#customer').val()
                var movieIds = $('#movies').val();

                var viewmodel = {
                    movieIds: movieIds.map(x => parseInt(x)),
                    customerId: parseInt(customerId)
                };

                $.ajax({
                        url: "/api/rentals",
                    method: "post",
                    contentType: "application/json;charset=utf-8",
                        data: JSON.stringify(viewmodel)

                    })
                    .done(function() {
                        toastr.success("Rental added");
                        newRental.clear;

                    })
                    .fail(function(error) {
                        toastr.error("Error: " + error.responseText);
                    });
            });

        });

    </script>
}